.background-radial-gradient {
    background-color:black;
    background-image: radial-gradient("black"),
      radial-gradient("black",);
  }
  
  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background-color:rgb(90, 90, 90);
    overflow: hidden;
  }
  .logo_header{
    width:7%;
  }
  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background-color:rgb(90, 90, 90);
    overflow: hidden;
  }
  
  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }